#casillaAgua{
    background: url(../img/agua.png);
    background-size: contain;
    border: 0;
    display: block;
    height: 30px;
    width: 30px;
}

#casillaBarco{
    background: url(../img/barco.png);
    background-size: contain;
    border: 0;
    display: block;
    height: 30px;
    width: 30px;
}